html{
    height:100%;
}

body {
    width:100%;
    height:100%;
    background-image:url('/image/Background/jungle-background-clipart.jpg');
    position: relative;
    /*background-repeat:no-repeat;*/
    background-size:cover;
}

body #header{
    height:20%;
}
  
body #app{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
body #footer{
    height:20%;
}

canvas{
    z-index: 90;
}


#playerConfirmBtn {
    position: absolute; 
    top: 80%; 
    right: 40%; 
    display: block;
    z-index: 100;
}

#gmChatCard {
    width: 80%;
    height:90px;
    position: absolute; 
    top: 5px; 
    right: 10%; 
    display: block;
    z-index: 100;
}


#playerStatusPlane{
    position:absolute;
    top:0px;
    right:0px;
    display: block;
    z-index:100;
}
