html{
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  position: relative;
}

body #header{
  height: 20%;
}

body #app{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-itmes: center;
}

body #footer{
  height: 20%;
}
